@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url(../fonts/Bebas\ Neue\ Cyrillic\ Regular.ttf);
       
    font-weight: normal;
    font-style: normal;

}

h2 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue';
    font-family: 'Caveat', cursive;
    font-family: 'Inter', sans-serif;
    color: #FAFAFA;
    background-color: #FAFAFA;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}


/* header start */

.header {
    background-color: #191718;
}

.header-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 16px 0;
    flex-wrap: wrap;
}

.header-items .item:not(:first-child) {
    margin-left: 24px;
}


.item:first-child {
    margin-right: auto;
}


.header-img {
    display: block;
    max-width: 100%;
    height: auto;
}


.header-items .item a{
    text-decoration: none;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    white-space:nowrap;

    font-feature-settings: 'pnum' on, 'lnum' on;

}


/* header end */


/* section-1 */

.section-1 {
    background-color: #191718;
}

.section-1 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr ;
}

.preview_box-1 {
    grid-row: 2;
    grid-column: 1;
    align-items: end;
    position: relative;
}

.btn_preview {
    position: absolute;
    top: 137px;
    left: 453px;
}

.link_btn_preview {
    background: #FF007A;
    border-radius: 177px;
    padding: 24px 40px;
    text-decoration: none;
    color: #FAFAFA;
    white-space: nowrap;
}

.btn_preview_mobile {
    align-self: center;
}

.link_btn_preview_mobile {
    background: #FF007A;
    border-radius: 177px;
    padding: 24px 40px;
    text-decoration: none;
    color: #FAFAFA;
    display: none;
}

h1 span{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 214.373px;
    text-transform: uppercase;
    color: #FAFAFA;
    line-height: .86;
}


.preview-box-2 {
    grid-column: 2 / 3;
    margin-left: -70px;
}

.bottles_preview {
    max-width: 379px;
    margin-bottom: -50px;
}


.preview_box-3 {
    grid-column: 2;
    grid-row: 2; 
    margin-top: auto;
    margin-left: auto;
    overflow: hidden;
}

/* section 1 end */





/* section 2 stat */


.section-2 {
    color: #191718;
}

.section-2_header {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.section-2_sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2_header_title {
    font-family: 'Bebas Neue Cyrillic';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
}

.section-2_img_logo {
    margin-top: 50px;
    margin-right: 50px;
    min-width: 250px;
}

.pink_word {
    color: #FF007A;
}

.header-year {
    font-family: 'Bebas Neue Cyrillic';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    white-space: normal;
    /* identical to box height */

    text-transform: uppercase;

    color: #191718;
}

.header_description {
    max-width: 736px;
}

.description {
    margin-top: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

/* section 2 end */



/* section product start */

.section-product {
    margin-top: 200px;
    margin-bottom: 240px;
    box-sizing: border-box;
}


.product__title h2 {
    font-family: 'Bebas Neue Cyrillic';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 1;
    color: #000000;
}

.product__list {
    margin-top: 40px;
    padding-bottom: 1px;
}

.card {
    display: flex;
    width: 100%;
}

.card {
    margin-bottom: -145px;
}

#one .card__left, 
#three .card__left {
    box-sizing: border-box;
    width: 50%;
    padding: 200px 15px;
    position: relative;
    background: #FFD600;
    border: 1px solid #000000;
    border-radius: 80px 0px 0px 80px;
}

#three .card__left {
    background: #9E4FCB;
}

.card_img {
    margin: 0 auto;
}

#one .card__right,
#three .card__right {
    z-index: 1;
    box-sizing: border-box;
    width: 50%;
    padding: 60px 70px;
    color: #000000;
    border: 1px solid #161415;
    border-radius: 0px 80px 80px 0px;
    background-color: #FAFAFA;
}


.product__info {
    display: flex;
    color: #000000;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.goods {
    display: flex;
    align-items: center;
}

.product_number {
    margin-bottom: 24px;

    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */
    color: #000000;
    text-transform: uppercase;
}

.goods_link {
    margin-right: -15px;
}



.product__name {

    font-family: 'Bebas Neue Cyrillic';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    /* identical to box height */

    text-transform: uppercase;

    color: #161415;
}

.product__discr {
    margin-bottom: 20px;
    max-width: 433px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.product__tastes {
    margin-bottom: 20px;
}

#one {
    z-index: 1;
    overflow: hidden;
}

#two {
    z-index: 2;
    overflow: hidden;
}

#three {
    z-index: 3;
    overflow: hidden;
}

#four {
    z-index: 4;
    overflow: hidden;
}

#one,
#two,
#three,
#four {
    position: sticky;
    top: 0;
    left: 0;
}

#two .card__left,
#four .card__left {
    box-sizing: border-box;
    width: 50%;
    padding: 60px 70px;
    position: relative;
    background-color: #FAFAFA;
    border: 1px solid #000000;
    border-radius: 80px 0px 0px 80px;
}

#two .card__right,
#four .card__right {
    box-sizing: border-box;
    width: 50%;
    padding: 200px 15px;
    color: #000000;
    border: 1px solid #161415;
    border-radius: 0px 80px 80px 0px;
    /* max-height: 776px; */
    background: #59D2EC;
}



.down {
    min-height: 460px;
}

#four .card__right {
    background: #72CA3E;
}

.goods_link img {
    min-width: 45px;
}

/* start sectiob advantages */

.benefits {
    background-color: #191718;
    border-radius: 60px 60px 0 0;
}

.benefits__block {
    padding-top: 200px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.benefits__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.question {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.question__title {
    width: 100%;
    font-family: 'Bebas Neue Cyrillic';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FAFAFA;
}

.title_row_2 {
    padding-left: 93px;
}

.title_row_3 {
    padding-left: 60px;
}

.question__btn {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 64px;
    background: #FF007A;
    border-radius: 177px;
    color: #FAFAFA;
    border: none;
    cursor: pointer;
}

.answers {
    width: 50%;
}

.answers__list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 526px;
}

.item__number {
    margin-bottom: -20px;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    text-transform: uppercase;

    background: linear-gradient(179.64deg, #E80471 35.12%, rgba(232, 4, 113, 0) 70.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.item__title {
    font-family: 'Bebas Neue Cyrillic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FAFAFA;
}

.item__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* or 133% */


    color: #E1E1E1;
}