




/* 1440 */


@media screen and (max-width: 1440px) {
    .header-items .item a {
        font-size: 18px;
    }
}








/* 1280 */


@media screen and (max-width: 1280px) {

    /* header stle */
    .header-items .item a {
        font-size: 16px;
    }


    /* section 1 styles */


    h1 span{
        font-size: 185px;
    }

    .bottles_preview {
        max-width: 355px;
        margin-bottom: -40px;
    }

    .btn_preview {
        top: 114px;
        left: 377px;
    }

    /* section 2 style */

    /* section product */
    .product__name {
        font-size: 120px;
    }

    /* section benefits */ 

    .question__title {
        font-size: 100px;
    }

    .question__btn {
        padding: 20px 50px;   
    }

    /* section review */

    .reviews__name {
        font-size: 32px;
    }

    .review__text {
        font-size: 64px;
    }

    /* section footer */

    .contact_link {
        font-size: 48px;
    }

    .footer__title {
        font-size: 120px;
    }
}


/* 1140 */

@media screen and (max-width: 1140px) {
    .bottles_preview {
        max-width: 250px;
        margin-bottom: -40px;
    }

    /* section 2 style */

    .section-2_header_title,
    .header-year {
        font-size: 120px;
    }
}




/* 1024 */




@media screen and (max-width: 1024px) {
    .header-items .item a {
        font-size: 16px;
    }
    .header-img {
        display: block;
        max-width: 100%;
        min-height: 38px;
    }



        /* section 1 styles */


        
    h1 span{
        font-size: 144px;
    }


    .btn_preview {
        top: 95px;
        left: 305px;
    }
    .link_btn_preview {
        font-size: 14px;
        padding: 16px 20px;
    }

    /* section product */

    .product__title h2 {
        font-size: 120px;
    }

    .product__name {
        font-size: 100px;
    }

    .product__discr {
        font-size: 16px;
    }

    #one .card__right,
    #three .card__right,
    #two .card__left,
    #four .card__left {
        padding: 60px 40px;
    }

    .card_img{
        max-width: 280px;
    }

    /* section swiper */ 

    .title__view {
        font-size: 120px;
    }

    /* reviews section */

    .reviews__info {
        font-size: 16px;
    }

}

/* 900px */

@media screen and (max-width: 900px) {
    .title__view {
        font-size: 100px;
        text-align: center;
        margin-left: 0;
    }

    .view {
        padding-top: 80px;
    }

    .img__reviews {
        max-width: 450px;
        right: 0;
        bottom: 0;
        top: unset;
        left: unset;
    }

    .flex_wrapper {
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
    }

    .footer_form {
        flex-direction: column;
        width: 50%;
    }
    
    .contact {
        margin-top: 0;
        flex-direction: column;
        width: 50%;
    }

    .social_bar {
        display: none;
    }

    .social_mobile {
        display: flex;
        justify-content: flex-start;
    }

    .form_policy {
        display: none;
    }

    .policy_mobile {
        display: block;
    }

    .footer__title {
        font-size: 100px;
        text-align: center;
    }
}


/* 820px */

@media screen and (max-width: 820px) {
    h1 span {
        font-size: 130px;
    }

    .btn_preview {
        top: 84px;
        left: 255px;
        margin: 0;
    }

    /* section 2 style */

    .section-2_header_title,
    .header-year {
        font-size: 112px;
    }
}




/* 768 */





@media screen and (max-width: 768px) {
    .header-img {
        max-width: 107px;
        height: 60px;
    }
    .header-items .item a {
        font-size: 16px;
    }

    .link_btn_preview {
        display: none;
    }

    .link_btn_preview_mobile {
        margin-top: -165px;
        display: block;
        font-size: 14px;
    }


    /* section styles */

    .section-1 .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .preview_box-1 {
        grid-column: 1;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;

    }

    .preview_box-1 h1 {
        text-align: center;
    }

    .preview-box-2 {
        grid-column: 1;
        margin-left: 0;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
    }


    .preview_box-3 {
        grid-column: 1;
        grid-row: 3 / 4;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .bottles_preview {
        max-width: 342px;
    }

    .content-center{
        width: 90%;
        max-width: 324px;
    }

    /* Section 2 */

    .section-2_header {
        margin-top: 120px;
    }

    .section-2_sub-header {
        flex-direction: column-reverse;
    }

    .section-2_img_logo {
        margin-right: 0;
    }

     .section-2_header_title,
     .header-year {
         text-align: center;
         font-size: 100px;
     }

     .description {
        text-align: center;
        font-size: 22px;
        line-height: 32px;
     }

     /* section product */ 

     .section-product {
         margin-bottom: 0;
     }

     .product__title h2 {
        font-size: 100px;
        text-align: center;
    }

    #one,
    #three {
        flex-direction: column;
    }

    #two,
    #four {
        flex-direction: column-reverse;
    }

    #one .card__left, 
    #one .card__right, 
    #two .card__left, 
    #two .card__right, 
    #three .card__left, 
    #three .card__right, 
    #four .card__left, 
    #four .card__right {
        width: 100%;
        border-radius: 80px;
    }

    #one .card__left,
    #two .card__right,
    #three .card__left,
    #four .card__right {
        margin-bottom: -140px;
        padding: 30px 15px 160px;
    }

    .card {
        margin-bottom: 40px;
    }

    .product__number {
        font-size: 18px;
    }

    .product__name {
        font-size: 42px;
    }

    .product__discr {
        font-size: 12px;
    }

    .card_img {
        max-width: 180px;
    }
    
    #one .card__right,
    #three .card__right,
    #two .card__left,
    #four .card__left {
        padding: 45px 30px;
    }

    .benefits__block {
        flex-direction: column;
        align-items: center;
    }

    .benefits__left {
        margin-bottom: 50px;
    }

    .benefits__right {
        width: 100%;
    }

    .question__title {
        text-align: center;
    }

    .question__btn {
        margin: 0 auto;
    }

    .question__title br {
        display: none;
    }

    .title_row_2,
    .title_row_3 {
        padding: 0;
    }

    .answers__list {
        max-width: 100%;
    }

    .item__number {
        font-size: 100px;
    }

    .item__title {
        font-size: 48px;
    }

    .item__text {
        font-size: 20px;
    }

    /* setion review */

    .reviews__name {
        font-size: 24px;
    }

    .review__text {
        font-size: 48px;
    }

    .reviews__info {
        font-size: 12px;
    }

    .review__qoute {
        display: none;
    }

    .reviews__box {
        padding-left: 0;
    }

    /* footer section */

    /* .flex_wrapper {
        flex-direction: column;
    }

    .footer_form,
    .contact {
        width: 100%;
    }

    .footer_form {
        align-self: center;
        align-items: center;
    } */


}




/* 670 */




@media screen and (max-width: 670px) {   
    .header-items .item:nth-child(2) {
        margin: 0;
    }
    .header-img {
        min-height: 38px;
    }
    .item:not(:first-child):not(.item:nth-child(2)) {
        display: none;
    }
    .header-items {
        justify-content: space-between;
    }


    /* section styles */

    .preview_box-1 h1 span {
        font-size: 3em;
    }

     /* section 2 style */

    /* section benefits */

    .benefits__block {
        padding-top: 85px;
    }

    /* section swiper */

    .title__view {
        font-size: 56px;
        text-align: center;
    }

    /* reviews section */

    .count_swiper {
        width: 110px;
    }

    .img_buttons {
        max-width: 30px;
    }

    .swiper-pagination {
        font-size: 20px;
    }

    .reviews__info {
        flex-direction: column;
        align-items: flex-start;
    }

    .review__text {
        font-size: 40px;
    }

      .flex_wrapper {
        flex-direction: column;
    }

    .footer_form,
    .contact {
        width: 100%;
    }

    .footer_form {
        align-self: center;
        align-items: center;
    } 

    .contact {
        align-items: center;
        gap: 20px;
    }

    .contact_block {
        text-align: center;
    }

    .footer__title {
        font-size: 70px;
    }

    .contact_description {
        margin-bottom: 15px;
        font-size: 25px;
    }

    .contact_link {
        font-size: 65px;
    }

    .social_mobile {
        justify-content: center;
        width: 100%;
        gap: 30px;
    }

    .policy_mobile {
        text-align: center;
    }

}


@media screen and (max-width: 450px) {
    .preview_box-1 h1 span {
        font-size: 2.4em;
    }

    .bottles_preview {
        max-width: 200px;
    }

    /* section 2 style */

    .link_btn_preview_mobile {
        margin-top: -95px;
    }

    .section-2_img_logo {
        min-width: 180px;
        max-width: 200px;
    }

    .section-2_header_title,
    .header-year {
        font-size: 56px;
    }

    .description {
        font-size: 18px;
        line-height: 22px;
     }

     /* section product */

     .product__title h2 {
        font-size: 56px;
    }
    
    .section-product {
        margin-top: 70px;
    }

    #one .card__left, 
    #one .card__right, 
    #two .card__left, 
    #two .card__right, 
    #three .card__left, 
    #three .card__right, 
    #four .card__left, 
    #four .card__right {
        border-radius: 50px;
    }

    /* section benefits */ 
    .question__title {
        font-size: 56px;
        margin-bottom: 20px;
    }

    /* section reviews */

    .review__text {
        font-size: 32px;
    }

    .img__reviews {
        max-width: 300px;
    }
    .reviews__info a {
        font-size: 12px;
    }

    .view {
        padding-bottom: 0;
    }

    .reviews {
        padding-top: 0;
    }

    /* footer section */

    .footer__title {
        font-size: 48px;
    }

    .contact_description {
        font-size: 18px;
    }

    .contact_link {
        font-size: 48px;
    }

    .social_mobile {
        gap: 0;
    }

}


/* 345 */ 

@media screen and (max-width: 345px) {
    .swiperTwo {
        padding: 47px 15px !important;
    }

    .reviews__name {
        font-size: 18px;
    }

    .count_swiper {
        width: 100px;
    }

    .contact_link {
        font-size: 38px;
    }
}


/* 320 */



@media screen and (max-width: 320px) {
    .header-items .item a {
        font-size: 12px;
    }
    .header-img {
        max-width: 69px;
        height: 38px;
    }


    /* section styles */


    .preview_box-1 h1 span {
        font-size: 2em;
    }

    .preview-box-2 {
        margin-bottom: -17px;
    }

    /* Section 2 style */

    .link_btn_preview_mobile {
        padding: 17px;
    }

    .description {
        font-size: 14px;
        line-height: 22px;
     }

     /* product style */

     /* section benefits */

     .question__btn {
        font-size: 12px;
    }

    .item__number {
        font-size: 96px;
    }

    .item__title {
        font-size: 36px;
    }

    .item__text {
        font-size: 16px;
    }

    /* footer section */

    .last_line {
        gap: 20px;
    }
}